@model IEnumerable<DMD.Models.Task>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create" class="btn btn-sm btn-success ml-1">Create New Ajax</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentTask)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            
            <tr id="TR_@item.ID">
                <partial name="_Task" model="@item"/>
            </tr>    
            
        }
    </tbody>
</table>
