@model DMD.Models.Task

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Task</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentTask)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentTask.ID)
        </dd>
    </dl>
    <div class="mt-4 text-center">
        <a class="btn btn-primary" onclick="CloseDetailForm()"; data-icon="back">Back</a>
    </div>
</div>


